body {
  margin: 0 auto;
  background: var(--color-background);
  color: var(--color-text);
  font-family: "Segoe UI", sans-serif;
  padding: 0 0 110px 0;
}

button,
input {
  font: inherit;
}

* {
  box-sizing: border-box;
}
